.container{
  display: flex;
  flex-direction: row;
  color: white;
  border:1px solid gray;
  height: 350px;
  padding: 20px;
  margin-top: 5%;
 
}
.children{
  flex:6;
  padding: 40px;
  margin-right: 30px;
  color:black;
  background-color: aquamarine;
}

.upperText{
  max-width:250px;
  position:absolute;
  margin-top:2%;
  margin-left: 2%;
  word-wrap:break-word;
  text-align: center;
  
}

.bottomText{
  max-width:250px;
  position: relative;
  margin-top: -20%;
  margin-left: 2%;
  text-align: center;
  
  word-wrap:break-word;
}
/* .divb{
  align-items: center;
} */
